html {
	scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}
    
body {
    font-family: cursive;
}
    
a {
    text-decoration: none;
}
    
li {
    list-style: none;
}

@media only screen and (max-width: 768px){
    html{
        min-width: none;
        overflow-x: hidden;
    }
}

/******************************/

#navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    position: fixed;
    width: 100%;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    color: #fff;
    background-color: #708090; 
    font-size: 18px;
    z-index: 1;
}

.nav-title {
    grid-row: 1;
    grid-column: 1;
    justify-self: start;
    padding-left: 10px;
}

.nav-title h1 {
    color:#fff;
}

.nav-title h1:hover {
    background-color: #D2691E;
    border-radius: 5px;
    transition: 0.3s ease;
}
 /*navbar menu*/
  
.navbar {
    display: flex;
    align-items: center;
    gap: 2em;
    justify-self: end;
    grid-row: 1;
    grid-column: 2;
    padding-right: 10px;
}

.navbar li:hover {
    background-color: #D2691E;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navbar a {
    color: #fff;
}

@media (max-width: 768px) {
    #navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
        
    .nav-title {
        grid-row: unset;
        grid-column: unset;
        justify-self: unset;
        padding-left: unset;
        margin-bottom: 20px;
    }
        
    .navbar {
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding-right: unset;
    }
}
  
/**************************************************/
#home{
    background-color: #D2691E;
    width: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 350px;
    justify-content: center;
    height: 200px;
    color: black;
}

#home img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#home .wrap{
    text-align: center;
    width: 300px;
}

#home .wrap a{
    text-decoration: none;
    color: black;
}

#home .name_home, #home .desc{
    margin-top: 15px;
}

@media (max-width: 768px) {
    #home {
        padding-top: 300px;
        padding-bottom: 70px;
        height: auto;
        width: 100%;
        padding-left: 50px;
    }

    #home img {
        width: 200px;
        height: 200px;
    }
    
    #home .wrap {
        width: 200px;
    }
    
    #home .name_home, #home .desc {
        margin-top: 10px;
    }
}
  

/************************************************************/
#about {
    padding: 20px;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}
  
.about-grid .text {
    grid-column: 1 / span 1;
    text-align: justify;
}
  
.about-grid .details {
    grid-column: 2 / span 1;
    padding-left: 100px;
}

/********************************************************/
#education{
    background-color: #D2691E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 60px;
    color: black;
}

.education-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.education-heading h1 {
    margin: 0;
}

.education-grid{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 1rem;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    position: relative;
}
  
.education-grid img{
    width: 90%;
    border-radius: 10%;
    transition: 1s;
    
}

.education-grid img {
    border: white 2px solid;
    height: 400px;
    width: 350px;
}

.card {
    position: relative;
}
  
.card h3{
    text-align: center;
    margin: 0;
}

.card:hover .text {
    color: #fff; 
    visibility: visible;
}
  
.card .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 10px;
    color: #fff;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}
  
.card:hover .text {
    opacity: 1;
}

.card img {
    transition-property: filter, transform;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
  
.card:hover img {
    filter: blur(5px) grayscale(1) brightness(50%);
    transform: scale(0.95);
}

@media only screen and (max-width: 768px) {
    #education {
        width: 100%;
        padding-left: 50px;
    }
    .education-grid {
        grid-template-columns: 1fr;
        padding: 0.5rem;
        grid-gap: 0.5rem;
        padding-right: 70px;
      }
      
    .education-grid img {
        height: auto;
        width: 100%;
        border-radius: 0;
    }
      
    .card {
        position: relative;
    }
    
    .card .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        padding: 10px;
        color: #fff;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
    
    .card:hover .text {
        opacity: 1;
    }
      
    .card img {
        filter: none;
        transform: none;
    }
}
  

/***************************************************************************/
#skills{
    width: 100%;
    height: 430px;
    color: black;
    margin: auto;
    padding: 20px;
    padding-bottom: 100px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.programming{
    padding-top: 20px;
}

.programming .images img {
    display: inline-block;
    margin: 0 auto;
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 20%;
}

.skills-heading {
    display: flex;
    height: 100px;
}

.skills-heading h1 {
    margin: 0;
}

.hobbies li {
    display: flex;
    margin-top: 10px;
}
  
.hobbies li img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    width: 1%;
}

.motto {
    margin-top: 20px;
}
/*********************************************************************************************/
#work{
    background-color: #D2691E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    color: black;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 10px;
}

.work-grid h2 {
    margin-bottom: 10px;
}

.work-grid .text {
    margin-bottom: 10px;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    #work {
        margin-top: 30px;
        width: 100%;
        padding-left: 50px;
    }

    .work-grid {
        padding-right: 70px;
    }
}

/**************************************/
.contact-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.contact-heading h1 {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.form {
    flex-basis: 40%;
}
  
.contacts {
    flex-basis: 40%;
}
  
.form {
    max-width: 480px;
}
  
.name {
    background-color: #ebebeb;
    color: white;
}

.name:hover {
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}
  
.email {
    background-color: #ebebeb;
    height: 2em;
}
  
.email:hover {
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}
  
.message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
}
  
.message:hover {
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
}
  
.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}
  
button {
    width: 200px;
    color: white;
    background-color: #708090;
    font-size: 20px;
}
  
button:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-radius: 0%;
}

.contacts {
    max-width: 400px;
}

.contact-list {
    position: relative;
    text-align: center;
    list-style-type: none;
    padding: 0;
}


.contact-text {
    font: 18px;
    letter-spacing: 1.9px;
    color: black;
}

.contact-text a {
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
	background-color: #D2691E;
    border-radius: 5px;
    transition: 0.3s ease;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-media img {
    max-width: 50px;
    height: auto;
    object-fit: cover;
    margin: 0 10px;
}

.social-media img:hover {
    transform: scale(1.5);
}

@media only screen and (max-width: 768px) {
    .form {
        padding-left: 30px;
    }
}

/*********************************************************************/
footer {
	display: block;
	text-align: center;
	line-height: normal;
	text-decoration: none;
	font-size: 16px;
	color: #fff;
    background-color: #708090; 
}

footer p a:hover {
	background-color: #D2691E;
    border-radius: 5px;
    transition: 0.3s ease;
}

footer a {
    color: #fff;
}

@media only screen and (max-width: 768px) {
    footer {
        width: 100%;
        padding-left: 50px;
    }
}
